<hr>
<p class="backlinks-title is-size-3">Backlinks</p>
{% is backlinks.length > 0 %}
<ul class="box">
  {% for link in backlinks %}
    <li class="has-text-centered">
      <a href="" class="backlink has-text-primary"></a>
    </li>
</ul>