---
title: 11ty Digital Garden
---
<!DOCTYPE html>
<html lang="{{ config.language }}">
{% include "../head.njk" %}
<header>
  {% include "../navbar.njk" %}
</header>
<body>
  {{ content | safe }}
</body>
  {% include "../footer.njk" %}
</html>