<hr>
<div class="container">
    <small>
        Built by <a href="https://github.com/geauxweisbeck4">Andrew Weisbeck</a>.
        <br/>Check out the <a href="{{ pkg.repository.url }}">GitHub Repository</a>.
    </small>
</div>
