---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  title: Home
  order: 1
---

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container content">
    <h1 class="title">
      Welcome to my Digital Garden
    </h1>
    <p class="subtitle">
      Your own corner of the internet for sharing ideas, notes, and thoughts.
    </p>
    <div class="buttons">
      <a href="/contribute" class="button is-primary">Contribute</a>
      <a href="" class="button is-link">Source Code</a>
    </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Recent Journal Entries</h1>
    <p class="subtitle">Journals are a great place to start out sharing ideas, thoughts, and project notes that you are on with others.</p>
    <div class="columns">
      <div class="column is-two-thirds">
        {% include "layouts/postslist.njk" %}
      </div>
      <div class="column is-one-thirds"><!-- Placeholder for Table of Journal entries --></div>
    </div>
  </div>
</section>