<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

    {% include "components/head.njk" %}

    <body>

        <div class="container">
            {% include "components/nav.njk" %}
        </div>

        {{ layoutContent | safe }}

        {% include "components/footer.njk" %}
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.js"></script>
    </body>

</html>
